.h2_center {
    text-align: 'center'
}

.img_width {
    width: '30%'
}

.Left_label_width {
    width: '30%';
    font-weight: 'bold';
}

.Right_label_width {
    width: '70%'
}

.p_flex {
    display: 'flex';
    line-height: 2;
    padding: '2%'
}