form {
    padding: 0 5%;

    .input-container {
        padding: 0% 1% 1% 0%;

        label {
            display: block;
            margin: 1%;
            font-weight: bold;
        }

        input,
        textarea {
            width: 25%;
            padding: 2%;
            border-radius: 5px;
            border-width: 1px;
        }

        input {
            height: 0.1rem;
        }

        textarea {
            height: 1.5rem;
        }
    }

    .inquery-button {
        padding: 1%;
        margin: 0% 1%;
        border: 1px solid #1A4F82;
        border-radius: 3px;
        color: #CFE6FC;
        font-weight: 300;
        background-color: #1A4F82;
        background-image: linear-gradient(#215F9C, #1A4F82);
        -o-background-image: linear-gradient(#215F9C, #1A4F82);
        cursor: pointer;
    }

}