.logo-image {
    max-width: 100%;

    h2 {
        background-image: url('../../public/images/work1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 30vw;
        text-align: center;
        font-family: 'MPLUS 1p Black';
        font-size: 3rem;
        letter-spacing: 0.3;
        color: white;
    }
}