@import './mixins.scss';

.customModal {
    width: 35%;

    .h2_center {
        text-align: center;

        .button-size {
            font-weight: bold;
            width: 20%;
            height: 30px;
        }

        .button {
            background-color: #008CBA;
            color: white;
        }

        .cancle-button {
            background-color: #555555;
            color: white;
        }
    }

    .p-flex {
        display: flex;
        line-height: 2;
        padding: 1%;
        width: 100%;

        .left-label-width {
            width: 30%;
            font-weight: bold;
        }

        .right-label-width {
            width: 70%;
        }

        img {
            width: 30%;
        }

        .upload-image {
            width: 15%;
        }

        .btn {
            height: 3rem;
            padding: 1%;
            color: #fbdedb;
            background-color: #fbdedb;
            display: inline-block;
            background: #e74c3c;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            text-align: center;
            text-decoration: none;
            -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
            position: relative;
        }
    }
}

.customOverlay {
    overlay: {
        background: 'rgba(0, 0, 0, 0.1)',
    }
}

@include respond(mobile) {
    .customModal {
        width: 80%;
    }
}